---
layout: page
title: Books
permalink: /projects/books
---

<p>
  The title links to that book's review written by me and hosted on this site
  (assuming I reviewed that specific book).
</p>

<table class="read__table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Rating</th>
  </tr>
  {% for book in site.data.books reversed %}
  <tr>
    <td>
      {% if book.review == null %} {{ book.title }} {% else %}
      <a href="{{ book.review }}">{{ book.title }}</a>
      {% endif %}
    </td>
    <td>{{ book.author }}</td>
    <td>{{ book.rating }}/5</td>
  </tr>
  {% endfor %}
</table>
