---
layout: page
title: Spending
permalink: /projects/spending
---

<p>On hold...</p>

<table class="spending__table">
  <tr>
    <th>Date</th>
    <th>Item</th>
    <th>Amount (USD)</th>
  </tr>
  {% for purchase in site.data.spending reversed %}
  <tr>
    <td class="spending__date">{{ purchase.date | date: '%m/%d/%Y' }}</td>
    <td class="spending__name">{{ purchase.name }}</td>
    <td class="spending__amt">
      {% if purchase.amount != "" %} ${{ purchase.amount }} {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
