<header class="site__header">
    <div class="header__links">
        <a href="/" class="header__title">Victor Bilgin</a>
        <a href="mailto:hello@victorbilgin.com" class="header__email">{{ site.email }}</a>
    </div>
    <nav class="header__nav">
        <a href="/blog" class="nav__link">Blog</a>
        <a href="/projects" class="nav__link">Projects</a>
        <a href="/now" class="nav__link">Now</a>
        <a href="/about" class="nav__link">About</a>
        <svg class="nav__color-toggle" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23" fill="none" stroke="#0000ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
    </nav>
  </div>
</header>