.blog__title {
  @include f-title;
}

.all-posts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.all-posts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  line-height: 1.3;

  a {
    @include ff-sans;
  }
}

.all-posts__item:nth-of-type(even) {
  background: rgb(238, 238, 238)
}

.all-posts__date {
  margin: 0 0 0 1rem;
  @include ff-mono;
}