.recent__title {
  @include f-title;

  span {
    font-size: 18px;
  }
}

.recent__card {
  margin-bottom: 2rem;
}

.recent__card h2{
  font-size: 1.563rem;
  margin-bottom: 0.25rem;

  a {
    color: var(--secondary);
    text-decoration: none;
  }
}

.recent__card a {
  @include ff-sans;
}

.recent__date {
  @include ff-mono;
  margin: 0;
}