html {
  --primary: white;
  --secondary: black;
  --main-accent: blue;
  --secondary-accent: #eeeeee;
  --table-accent: #dfdfdf;
}

@media (prefers-color-scheme: dark) {
  html {
    --primary: #121212;
    --secondary: #f3f3f3;
    --main-accent: #f6ae2d;
    --secondary-accent: #4e4e4e;
    --table-accent: #6b6b6b;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
dl,
dt,
dd,
blockquote,
fieldset,
legend,
textarea,
iframe,
figure,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  @include ff-serif;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  color: var(--secondary);
}

h1 {
  @include f-heading-1;
}

h2 {
  @include f-heading-2;
}

h3 {
  @include f-heading-3;
}

h4 {
  @include f-heading-4;
}

h5 {
  @include f-heading-5;
}

h6 {
  @include f-heading-6;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

p {
  color: var(--secondary);
  @include f-body;

  code {
    background: var(--secondary-accent);
    border-radius: 3px;
    padding: 1px 4px;
  }
}

li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  color: var(--secondary);

  code {
    background: var(--secondary-accent);
    border-radius: 3px;
    padding: 1px 4px;
  }
}

li::marker {
  color: var(--secondary);
}

iframe {
  border: 0;
}

table {
  @include ff-sans;
  margin-bottom: 1rem;
  border-collapse: collapse;
  width: 100%;
  color: var(--secondary);
  background-color: var(--primary);

  td,
  th {
    @include table-th-td;
  }

  tr:nth-child(even) {
    background-color: var(--secondary-accent);
  }
}

code,
pre {
  @include ff-mono;
  overflow: scroll;
}

a {
  color: var(--main-accent);
}

a code {
  color: var(--main-accent);
}
